/* dispositivos mobiles pequeños onda blackberry */
@media(max-width:320px){
    /* Inicio header */
    header{
        display: flex;
        justify-content: space-between;
    }
    .navbar{
        display: none;
    }
    .icono-navbar{
        display: block;
    }
    .logo{
        padding: 0 2rem 0 0;
    }

    /* Fin header */

    /* Inicio Hero */
    .imgPortada{
        display: none;
    }

    .letras-Hero h1{
        font-size: 30px;
    }

    .iconos-hero {
        padding: 30px 0 0 10px;
    }

    /* Inicio About */
    .img-about img{
        width: 200px;
    }

    .img-habilidades img {
        width: 275px;
    }
}

/* dispositivos mobiles normal */
@media(max-width:480px){
    /* Header */
    header{
        display: flex;
        justify-content: space-between;
    }
    .header{
        padding: 25px;
    }
    .navbar{
        display: none;
    }
    .icono-navbar{
        display: block;
    }
    

    /* Hero */
    .imgPortada{
        display: none;
    }

    /* About */
    .grupoAbout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-about {
        padding: 0;
    }
    .info-about {
        text-align: center;
        width: 85%;
        padding: 0;
    }
    .info-about h3 {
        padding: 30px 0;
    }
    .grupoAbout {
        padding: 40px 0 40px 0;
    }

}

/* tablets y modo retrato (horizontal) del celu */
@media(max-width:768px){
    /* Header */
    header a{
        margin: 0 0 0 7px;
        padding: 0 0 0 5px;
    }

    /* Hero */
    .grupo-Hero {
        justify-content: center;
    }
    .letras-Hero h1{
        font-size: 30px;
    }
    .foto-portada img{
        width: 250px;
        padding: 100px 15px 0 0;
    }
    .iconos-posicion {
        display: flex;
        flex-wrap: wrap;
        text-align:left;
        margin: 0;
        flex-direction: column;
    }
    .iconos {
        padding: 10px 30px 0 0;
    }

    /* Habilidades */
    .contenedorHabilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorHabilidades .grupoHabilidades h3 {
        text-align: center;
    }
    .contenedorHabilidades .grupoHabilidades .texto-habilidades {
        text-align: center;
    }
    .img-habilidades img {
        border-radius: 8px;
        padding: 0;
    }
    .grupoHabilidades {
        width: 90%;
        padding: 0 0 30px 0;
    }

    /* Proyectos */
    .gallery {
        padding: 30px 25px 60px 25px;
    }
    .gallery-item {
        flex-basis: 70%;
    }
}

/* tablets y modo retrato, mobiles mas grandes */
@media(max-width:1024px){
    /* header */
    .logo{
        padding: 0 1rem 0 0;
    }
    /* hero */
    .hero{
        height: 70vh;
        padding: 0 0 30px 0;
    }
    .letras-Hero h1{
        font-size: 40px;
    }
    .imgPortada{
        width: 350px;
        padding: 0 25px 0 0;
    }
}

/*
@media(max-width:1280px){} ; @media(max-width:1440px){}
*/

/* computadoras 4k */
@media(min-width:1920px){
    /* header */
    header {
        padding: 40px;
    }
    header p {
        font-size: 25px;
    }
    header div .navbar{
        font-size: 25px;
    }

    /* hero */
    .contenedorHero h1 {
        font-size: 60px;
        padding: 10px 0px;
    }
    .imgPortada {
        width: 475px;
    }
    button{
        font-size: 25px;
    }

    /* about */
    .img-about img {
        width: 375px;
    }
    .contenedorAbout h2 {
        font-size: 40px;
    }
    .info-about h3 {
        font-size: 30px;
    }
    .info-about p{
        font-size: 25px;
    }

    /* habilidades */
    .habilidades h2 {
        font-size: 40px;
    }
    .contenedorHabilidades .grupoHabilidades h3 {
        font-size: 30px;
    }
    .contenedorHabilidades .grupoHabilidades .texto-habilidades {
        font-size: 25px;
    }
    .habilidades-main {
        grid-row-gap: 40px;
    }
    .habilidades-main .habilidades-bar .habilidades-info {
        font-size: 20px;
    }
    .img-habilidades img {
        width: 600px;
    }

    /* proyectos */
    .proyectos h2 {
        font-size: 40px;
    }

    /* contacto */
    .contacto h2 {
        font-size: 40px;
    }
    .form-nombre, .form-email {
        padding: 20px 90px;
    }
    .form-texto {
        padding: 120px 90px;
    }
    .boton-contacto {
        font-size: 25px;
        margin: 20px 0 0 250px;
    }

    /* footer */
    .footer h2 {
        font-size: 40px;
    }
    .iconos-footer {
        font-size: 25px;
    }
    .derechos {
        font-size: 25px;
    }
}
